[stepper_x]
rotation_distance: 40
microsteps: 16
homing_speed: 20

# We also include the default wiring and speeds from here to avoid duplicating
[include default_wiring.cfg]
[include default_speed.cfg]



